<% content_for :full_width_slide do %>
  <div class='top-banner' >
    <%= image_tag 'products/top-banner.jpg' %>
  </div>
<% end %>

<div id="wrapper" class="row" data-hook>
  <div id='search-filter'>
    <ul>
      <li><%= t('products_page.search_filter') %></li>
      <li class='filter'><%= t('products_page.search_filter_options.color') %></li>
      <li class='filter'><%= t('products_page.search_filter_options.branches') %></li>
      <li class='filter'><%= t('products_page.search_filter_options.price') %></li>
      <li class='filter'><%= t('products_page.search_filter_options.size') %></li>
      <li class='filter'><%= t('products_page.search_filter_options.collections') %></li>
    </ul>
    <div id='search-box'>
      <%= render :partial => 'spree/shared/search' %>
    </div>
  </div>

  <div id='feature-products'>
    <div class='feature-product'>
      <%= image_tag 'products/feature-1.jpg' %>
      <div class='product-detail'>
        <h2 class='product-title'>Vớ Elegance Dài</h2>
        <h3 class='product-sku'>MSP ABCDEFD</h3>
        <div class='colors-sizes'>
          <p> <%= t(:color) %> </p>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
          <br/>
          <p> <%= t(:size) %> </p>
          <ul class='size'>
            <li>S</li>
            <li>M</li>
            <li>L</li>
          </ul>
        </div>
        <div class='price'>
          <p><%= t(:price) %></p>
          <p class='price'>585.000 VNĐ</p>
          <p class='discount'>(tiết kiệm 20%)</p>
        </div>
      </div>
    </div>
    <div class='feature-product'>
      <%= image_tag 'products/feature-2.jpg' %>
      <div class='product-detail'>
        <h2 class='product-title'>Vớ Elegance Dài</h2>
        <h3 class='product-sku'>MSP ABCDEFD</h3>
        <div class='colors-sizes'>
          <p> <%= t(:color) %> </p>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
          <br/>
          <p> <%= t(:size) %> </p>
          <ul class='size'>
            <li>S</li>
            <li>M</li>
            <li>L</li>
          </ul>
        </div>
        <div class='price'>
          <p><%= t(:price) %></p>
          <p class='price'>585.000 VNĐ</p>
          <p class='discount'>(tiết kiệm 20%)</p>
        </div>
      </div>
    </div>
  </div>

  <div id='product-list'>
    <div class='product'>
      <%= image_tag 'products/product-1.jpg' %>
      <div class='product-detail'>
        <h2 class='product-title'>Vớ Elegance Dài</h2>
        <h3 class='product-sku'>MSP ABCDEFD</h3>
        <div class='colors-sizes'>
          <p> <%= t(:color) %> </p>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
          <br/>
          <p> <%= t(:size) %> </p>
          <ul class='size'>
            <li>S</li>
            <li>M</li>
            <li>L</li>
          </ul>
        </div>
        <div class='price'>
          <p class='discount'>985.000 VNĐ</p>
          <p class='price'>585.000 VNĐ</p>
        </div>
      </div>
    </div>
    <div class='product'>
      <%= image_tag 'products/product-2.jpg' %>
      <div class='product-detail'>
        <h2 class='product-title'>Vớ Elegance Dài</h2>
        <h3 class='product-sku'>MSP ABCDEFD</h3>
        <div class='colors-sizes'>
          <p> <%= t(:color) %> </p>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
          <br/>
          <p> <%= t(:size) %> </p>
          <ul class='size'>
            <li>S</li>
            <li>M</li>
            <li>L</li>
          </ul>
        </div>
        <div class='price'>
          <p class='discount'>985.000 VNĐ</p>
          <p class='price'>585.000 VNĐ</p>
        </div>
      </div>
    </div>
    <div class='product'>
      <%= image_tag 'products/product-3.jpg' %>
      <div class='product-detail'>
        <h2 class='product-title'>Vớ Elegance Dài</h2>
        <h3 class='product-sku'>MSP ABCDEFD</h3>
        <div class='colors-sizes'>
          <p> <%= t(:color) %> </p>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
          <br/>
          <p> <%= t(:size) %> </p>
          <ul class='size'>
            <li>S</li>
            <li>M</li>
            <li>L</li>
          </ul>
        </div>
        <div class='price'>
          <p class='discount'>985.000 VNĐ</p>
          <p class='price'>585.000 VNĐ</p>
        </div>
      </div>
    </div>
    <div class='product'>
      <%= image_tag 'products/product-4.jpg' %>
      <div class='product-detail'>
        <h2 class='product-title'>Vớ Elegance Dài</h2>
        <h3 class='product-sku'>MSP ABCDEFD</h3>
        <div class='colors-sizes'>
          <p> <%= t(:color) %> </p>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
          <br/>
          <p> <%= t(:size) %> </p>
          <ul class='size'>
            <li>S</li>
            <li>M</li>
            <li>L</li>
          </ul>
        </div>
        <div class='price'>
          <p class='discount'>985.000 VNĐ</p>
          <p class='price'>585.000 VNĐ</p>
        </div>
      </div>
    </div>
    <div class='product'>
      <%= image_tag 'products/product-5.jpg' %>
      <div class='product-detail'>
        <h2 class='product-title'>Vớ Elegance Dài</h2>
        <h3 class='product-sku'>MSP ABCDEFD</h3>
        <div class='colors-sizes'>
          <p> <%= t(:color) %> </p>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
          <br/>
          <p> <%= t(:size) %> </p>
          <ul class='size'>
            <li>S</li>
            <li>M</li>
            <li>L</li>
          </ul>
        </div>
        <div class='price'>
          <p class='discount'>985.000 VNĐ</p>
          <p class='price'>585.000 VNĐ</p>
        </div>
      </div>
    </div>
    <div class='product'>
      <%= image_tag 'products/product-6.jpg' %>
      <div class='product-detail'>
        <h2 class='product-title'>Vớ Elegance Dài</h2>
        <h3 class='product-sku'>MSP ABCDEFD</h3>
        <div class='colors-sizes'>
          <p> <%= t(:color) %> </p>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
          <br/>
          <p> <%= t(:size) %> </p>
          <ul class='size'>
            <li>S</li>
            <li>M</li>
            <li>L</li>
          </ul>
        </div>
        <div class='price'>
          <p class='discount'>985.000 VNĐ</p>
          <p class='price'>585.000 VNĐ</p>
        </div>
      </div>
    </div>
  </div>
</div>