<% content_for :full_width_slide do %>
  <div class='top-banner' >
    <%= image_tag 'products/top-banner.jpg' %>
  </div>
<% end %>

<div id="wrapper" class="row" data-hook>
  <div id='breadcrumb'><%= breadcrumb @product.name %></div>
  <div id='product-container'>
    <div class='product-info' data-hook="product_show">
      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
        <div class="clear"></div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails' %>
        </div>
      </div>

      <div id="product-description" data-hook="product_description">
        <!--<h1 class="product-title" itemprop="name"><%= accurate_title %></h1>
        <div itemprop="description" data-hook="description">
          <%= product_description(@product) rescue t(:product_has_no_description) %>
        </div>-->
        <h1 class="product-title" itemprop="name">Vớ Elegance Dài</h1>
        <h2 class="product-sku" itemprop="sku">MSP ADKEWAB</h2>
        <div itemprop="description" data-hook="description">
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
        </div>
        <div class='available-colors'>
          <ul>
            <li style="background-color: #15386d"></li>
            <li style="background-color: #6d3a15"></li>
            <li style="background-color: #6d1534"></li>
          </ul>
        </div>
        <div class='available-sizes'>
          <ul class='no-list-type'>
            <% ['S', 'M', 'L', 'X', 'XL', 'XXL', 'X', 'XL', 'XXL'].each do |size| %>
              <li><%= size %></li>
            <% end %>
          </ul>
        </div>
        <div class='size-chart'><%= link_to t(:size_chart), '#', :target => 'blank' %></div>
      </div>

      <div id="cart-form" data-hook="cart_form">
        <%= render :partial => 'cart_form' %>
      </div>
    </div>
  </div>
</div>

<hr/>

<div id='same-collection' class='suggest-products-list'>
  <h1><%= t('product_page.collection') %></h1>
  <ul>
    <% ['products/suggest-product-1.jpg', 'products/suggest-product-2.jpg', 'products/suggest-product-3.jpg', 'products/suggest-product-4.jpg'].each do |img| %>
      <li>
        <%= image_tag img %>
        <div class='imagehover'></div>
      </li>
    <% end %>
  </ul>
</div>

<hr/>

<div id='suggest-products' class='suggest-products-list'>
  <h1><%= t('product_page.suggest_products') %></h1>
  <ul>
    <% ['products/suggest-product-1.jpg', 'products/suggest-product-2.jpg', 'products/suggest-product-3.jpg', 'products/suggest-product-4.jpg'].each do |img| %>
      <li>
        <%= image_tag img %>
        <div class='imagehover'></div>
      </li>
    <% end %>
  </ul>
</div>

<hr/>
<%= render 'spree/shared/disqus' %>
