<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Images'} %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon('icon-edit', t(:edit), edit_images_admin_product_url(@product), :id => 'edit_images_link', :class => 'button') %></li>
<% end %>

<div id="images" data-hook></div>

<div id="product-images">
  <% unless @product.images.any? %>
    <div class="no-objects-found">
      <%= t(:no_images_found) %>.
    </div>
  <% else %>
    <div id='image-list'>
      <% @product.images.sort_by { |i| i[:attachment_updated_at] }.each do |img| %>
        <div class='image-detail'>
          <div class='image-view'>
            <%= image_tag img.attachment.url(:product) %>
          </div>
          <p><%= img.color || t(:all) %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
