<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:general_settings) %>
<% end %>

<%= form_tag admin_general_settings_path, :method => :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">
      <% key = :site_name
        type = Spree::Config.preference_type(key) %>
      <div class="field">
        <%= label_tag(key, t(key) + ': ') + tag(:br) if type != :boolean %>
        <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
        <%= label_tag(key, t(key)) + tag(:br) if type == :boolean %>
      </div>

    </fieldset>
  </div>

<% end %>
